*.gpkg
*.html
*.pdf
*.pptx
*.txt
*.xcf
*/__pycache__
.vscode
checkpoints
data/0*
data/CubeSat_Arctic_Boreal_LakeArea_1667
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
mdtable.md
wb_all.zip
